In [1]:
import pandas as pd
import numpy as np
import joblib

In [3]:
sensor_data = pd.read_csv('sensor_data_cleaned.csv')

In [5]:
sensor_data.rename(columns={
    'Humi': 'humidity',   # Replace 'Humi' with 'humidity'
    'Temp': 'temperature'  # Replace 'Temp' with 'temperature'
}, inplace=True)

In [7]:
sensor_data.head()

        date      time  humidity  temperature   EC   PH   N   P   K
0  10/7/2024  15:24:48      24.0         26.3  272  7.5  18  88  81
1  10/7/2024  15:54:48      22.4         26.4  272  7.7  18  88  81
2  10/7/2024  16:24:48      21.3         26.4  272  7.7  18  88  81
3  10/7/2024  16:54:48      21.7         26.5  272  7.8  18  88  81
4  10/7/2024  17:24:48      21.9         26.5  272  7.8  18  88  81

In [9]:
sensor_data_cleaned = sensor_data[['temperature', 'humidity', 'N', 'P', 'K']]

In [11]:
sensor_data_cleaned.head()

   temperature  humidity   N   P   K
0         26.3      24.0  18  88  81
1         26.4      22.4  18  88  81
2         26.4      21.3  18  88  81
3         26.5      21.7  18  88  81
4         26.5      21.9  18  88  81

In [13]:
india_dataset = pd.read_csv('all_india_dataset_final.csv')

In [14]:
unique_crops = ['Arhar/Tur', 'Bajra', 'Groundnut', 'Jowar', 'Maize',
       'Moong(Green Gram)', 'Moth', 'Oilseeds total', 'Onion', 'Rice',
       'Sesamum', 'Soyabean', 'Total foodgrain', 'Urad', 'Barley', 'Gram',
       'Masoor', 'Peas & beans (Pulses)', 'Rapeseed &Mustard',
       'Sunflower', 'Wheat', 'Potato', 'Sugarcane', 'Cotton(lint)',
       'Castor seed', 'Linseed', 'Sannhamp', 'Jute', 'Turmeric',
       'Dry chillies', 'Garlic', 'Guar seed', 'Sweet potato', 'Coriander',
       'Dry ginger', 'Other Kharif pulses', 'Other  Rabi pulses',
       'Tobacco', 'Banana', 'Small millets', 'Ragi', 'Ginger']

In [17]:
crop_df = pd.DataFrame(0, index=range(len(sensor_data_cleaned)), columns=[f'{crop}' for crop in unique_crops])

In [19]:
crop_df["Rice"] = 1

In [21]:
sensor_data_final = pd.concat([sensor_data_cleaned, crop_df], axis=1)

In [23]:
sensor_data_final.head()

,temperature,humidity,N,P,K,Arhar/Tur,Bajra,Groundnut,Jowar,Maize,...,Sweet potato,Coriander,Dry ginger,Other Kharif pulses,Other Rabi pulses,Tobacco,Banana,Small millets,Ragi,Ginger
0,26.3,24.0,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,26.4,22.4,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,26.4,21.3,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26.5,21.7,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26.5,21.9,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
feature_order = ['temperature', 'humidity', 'N', 'P', 'K', 'Arhar/Tur', 'Bajra',
       'Banana', 'Barley', 'Castor seed', 'Coriander', 'Cotton(lint)',
       'Dry chillies', 'Dry ginger', 'Garlic', 'Ginger', 'Gram', 'Groundnut',
       'Guar seed', 'Jowar', 'Jute', 'Linseed', 'Maize', 'Masoor',
       'Moong(Green Gram)', 'Moth', 'Oilseeds total', 'Onion',
       'Other  Rabi pulses', 'Other Kharif pulses', 'Peas & beans (Pulses)',
       'Potato', 'Ragi', 'Rapeseed &Mustard', 'Rice', 'Sannhamp', 'Sesamum',
       'Small millets', 'Soyabean', 'Sugarcane', 'Sunflower', 'Sweet potato',
       'Tobacco', 'Total foodgrain', 'Turmeric', 'Urad', 'Wheat']

In [27]:
sensor_data_final = sensor_data_final[feature_order]

In [29]:
sensor_data_final.head()

,temperature,humidity,N,P,K,Arhar/Tur,Bajra,Banana,Barley,Castor seed,...,Small millets,Soyabean,Sugarcane,Sunflower,Sweet potato,Tobacco,Total foodgrain,Turmeric,Urad,Wheat
0,26.3,24.0,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,26.4,22.4,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,26.4,21.3,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,26.5,21.7,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,26.5,21.9,18,88,81,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
best_model = joblib.load('best_model.pkl')
scaler = joblib.load('scaler.pkl')

In [33]:
sensor_data_scaled = scaler.transform(sensor_data_final)

In [35]:
sensor_data_final['Predicted_Yield'] = best_model.predict(sensor_data_scaled)

In [37]:
print(sensor_data_final[['temperature', 'humidity', 'N', 'P', 'K', 'Predicted_Yield']])

      temperature  humidity   N   P   K  Predicted_Yield
0            26.3      24.0  18  88  81         1.773416
1            26.4      22.4  18  88  81         1.773416
2            26.4      21.3  18  88  81         1.773416
3            26.5      21.7  18  88  81         1.773416
4            26.5      21.9  18  88  81         1.773416
...           ...       ...  ..  ..  ..              ...
1178         26.8      25.3  21  94  87         1.773416
1179         26.7      25.8  20  94  86         1.773416
1180         26.7      26.1  20  94  86         1.773416
1181         26.7      26.2  20  94  86         1.773416
1182         26.7      24.4  20  94  86         1.773416

[1183 rows x 6 columns]